# API Configuration
VITE_API_URL=http://localhost:3000/api
VITE_BASE_URL=http://localhost:5173


# Environment
VITE_APP_ENV=development

# App Configuration
VITE_APP_NAME=InduNav
VITE_APP_VERSION=0.1.0
